USE [master]
GO
/****** Object:  Database [MultiRestaurantOrderingDB_Merged]    Script Date: 3/27/2026 12:40:45 PM ******/
CREATE DATABASE [MultiRestaurantOrderingDB_Merged]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MultiRestaurantOrderingDB_Merged', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NPT\MSSQL\DATA\MultiRestaurantOrderingDB_Merged.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MultiRestaurantOrderingDB_Merged_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NPT\MSSQL\DATA\MultiRestaurantOrderingDB_Merged_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MultiRestaurantOrderingDB_Merged].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MultiRestaurantOrderingDB_Merged]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SKU] [nvarchar](50) NULL,
	[ItemName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[AverageRating]  AS (CONVERT([decimal](4,2),NULL)) PERSISTED,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MenuItems_Restaurant_SKU] UNIQUE NONCLUSTERED 
(
	[RestaurantID] ASC,
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderType] [nvarchar](20) NOT NULL,
	[TableID] [int] NULL,
	[OrderStatus] [nvarchar](30) NOT NULL,
	[DiscountID] [int] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[FinalAmount] [decimal](10, 2) NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[DeliveryFee] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](30) NOT NULL,
	[PaidAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopDishes]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- US19: Top dishes by quantity
CREATE VIEW [dbo].[vw_TopDishes] AS
SELECT
    o.RestaurantID,
    mi.ItemID,
    mi.ItemName,
    SUM(oi.Quantity) AS TotalSold
FROM dbo.OrderItems oi
JOIN dbo.Orders o ON oi.OrderID = o.OrderID
JOIN dbo.MenuItems mi ON oi.ItemID = mi.ItemID
WHERE o.OrderStatus = 'Completed'
GROUP BY o.RestaurantID, mi.ItemID, mi.ItemName;
GO
/****** Object:  View [dbo].[vw_RevenueByDish]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- US19: Revenue by dish
CREATE VIEW [dbo].[vw_RevenueByDish] AS
SELECT
    o.RestaurantID,
    mi.ItemID,
    mi.ItemName,
    SUM(oi.Quantity * oi.UnitPrice) AS Revenue
FROM dbo.OrderItems oi
JOIN dbo.Orders o ON oi.OrderID = o.OrderID
JOIN dbo.MenuItems mi ON oi.ItemID = mi.ItemID
WHERE o.OrderStatus = 'Completed'
GROUP BY o.RestaurantID, mi.ItemID, mi.ItemName;
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[LogoUrl] [nvarchar](255) NULL,
	[ThemeColor] [nvarchar](20) NULL,
	[IsOpen] [bit] NOT NULL,
	[DeliveryFee] [decimal](10, 2) NULL,
	[CommissionRate] [decimal](5, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RestaurantAnalytics]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- System-wide admin dashboard (US17)
CREATE VIEW [dbo].[vw_RestaurantAnalytics] AS
SELECT
    r.RestaurantID,
    r.Name AS RestaurantName,
    COUNT(o.OrderID) AS TotalOrders,
    SUM(CASE WHEN o.OrderStatus = 'Completed' THEN o.FinalAmount ELSE 0 END) AS TotalRevenue
FROM dbo.Restaurants r
LEFT JOIN dbo.Orders o ON r.RestaurantID = o.RestaurantID
GROUP BY r.RestaurantID, r.Name;
GO
/****** Object:  View [dbo].[vw_PeakHours]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   14) Views for US19 (Analytics) + US20 (Invoice Export)
   ========================================================= */

-- US19: Peak hours
CREATE VIEW [dbo].[vw_PeakHours] AS
SELECT
    RestaurantID,
    DATEPART(HOUR, CreatedAt) AS OrderHour,
    COUNT(*) AS TotalOrders
FROM dbo.Orders
WHERE OrderStatus = 'Completed'
GROUP BY RestaurantID, DATEPART(HOUR, CreatedAt);
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryInfo]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryInfo](
	[DeliveryID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ReceiverName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Longitude] [decimal](10, 6) NULL,
	[DeliveryNote] [nvarchar](255) NULL,
	[DeliveryStatus] [nvarchar](30) NULL,
	[ShippedAt] [datetime2](0) NULL,
	[DeliveredAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentType] [nvarchar](30) NOT NULL,
	[PaymentStatus] [nvarchar](30) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[TransactionRef] [nvarchar](100) NULL,
	[PaidAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Amount] [bigint] NOT NULL,
	[BankCode] [nvarchar](50) NULL,
	[CardType] [nvarchar](50) NULL,
	[PayDate] [nvarchar](14) NULL,
	[ResponseCode] [nvarchar](10) NULL,
	[TransactionNo] [nvarchar](50) NULL,
	[TransactionStatus] [nvarchar](10) NULL,
	[SecureHash] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[IssuedDate] [datetime2](0) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[TaxAmount] [decimal](10, 2) NOT NULL,
	[FinalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_InvoiceData]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_InvoiceData] AS
SELECT
    o.OrderID,
    o.CreatedAt AS OrderDateUTC,
    r.RestaurantID,
    r.Name AS RestaurantName,
    u.UserID AS CustomerID,
    u.FullName AS CustomerName,

    o.OrderType,
    o.OrderStatus,
    o.TotalAmount,
    o.DiscountAmount,
    o.DeliveryFee,
    o.FinalAmount,
    o.PaymentMethod,
    o.PaymentStatus AS OrderPaymentStatus,
    o.PaidAt AS OrderPaidAt,

    p.PaymentType,
    p.PaymentStatus,
    p.IsPaid,
    p.TransactionRef,
    p.PaidAt,
    p.Amount,
    p.BankCode,
    p.ResponseCode,
    p.TransactionNo,
    p.TransactionStatus,

    di.Address AS DeliveryAddress,
    di.DeliveryStatus,
    inv.InvoiceNumber,
    inv.IssuedDate,
    inv.Subtotal,
    inv.TaxAmount,
    inv.FinalAmount AS InvoiceFinalAmount
FROM dbo.Orders o
JOIN dbo.Restaurants r ON o.RestaurantID = r.RestaurantID
JOIN dbo.Users u ON o.CustomerID = u.UserID
LEFT JOIN dbo.Payments p ON o.OrderID = p.OrderID
LEFT JOIN dbo.DeliveryInfo di ON o.OrderID = di.OrderID
LEFT JOIN dbo.Invoices inv ON o.OrderID = inv.OrderID;
GO
/****** Object:  Table [dbo].[BusinessHours]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessHours](
	[HoursID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[DayOfWeek] [nvarchar](20) NOT NULL,
	[OpeningTime] [time](7) NULL,
	[ClosingTime] [time](7) NULL,
	[IsOpen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HoursID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BusinessHours_RestaurantDay] UNIQUE NONCLUSTERED 
(
	[RestaurantID] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[ComplaintID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[CustomerID] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryFeeHistory]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryFeeHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[FeeID] [int] NOT NULL,
	[OldFeeType] [nvarchar](30) NOT NULL,
	[NewFeeType] [nvarchar](30) NOT NULL,
	[OldFeeValue] [decimal](10, 2) NOT NULL,
	[NewFeeValue] [decimal](10, 2) NOT NULL,
	[OldMinOrder] [decimal](10, 2) NULL,
	[NewMinOrder] [decimal](10, 2) NULL,
	[OldMaxOrder] [decimal](10, 2) NULL,
	[NewMaxOrder] [decimal](10, 2) NULL,
	[ChangedAt] [datetime2](0) NOT NULL,
	[ChangedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryFees]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryFees](
	[FeeID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneID] [int] NOT NULL,
	[FeeType] [nvarchar](30) NOT NULL,
	[FeeValue] [decimal](10, 2) NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NULL,
	[MaxOrderAmount] [decimal](10, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[ExpiryDate] [datetime2](0) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NOT NULL,
	[MaxDiscountAmount] [decimal](10, 2) NULL,
	[UsageLimitPerUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeShifts]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[ShiftDate] [date] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[AttendanceStatus] [nvarchar](20) NULL,
	[MarkedBy] [int] NULL,
	[MarkedAt] [datetime2](0) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemOptions]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[OptionName] [nvarchar](100) NOT NULL,
	[AdditionalPrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategories]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__MenuCate__19093A2B78F86F92] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantDeliveryZones]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantDeliveryZones](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[ZoneName] [nvarchar](100) NOT NULL,
	[ZoneDefinition] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantTables]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[TableNumber] [nvarchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[TableStatus] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RestaurantTables] UNIQUE NONCLUSTERED 
(
	[RestaurantID] ASC,
	[TableNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantUsers]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantUsers](
	[RestaurantUserID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RestaurantRole] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RestaurantUsers] UNIQUE NONCLUSTERED 
(
	[RestaurantID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftTemplates]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[ShiftName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableReservations]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableReservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[TableID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[NumberOfGuests] [int] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemporaryClosures]    Script Date: 3/27/2026 12:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemporaryClosures](
	[ClosureID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[StartDateTime] [datetime2](0) NOT NULL,
	[EndDateTime] [datetime2](0) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClosureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_CustomerID]    Script Date: 3/27/2026 12:40:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_CustomerID] ON [dbo].[Payments]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OrderID]    Script Date: 3/27/2026 12:40:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_OrderID] ON [dbo].[Payments]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_TransactionRef]    Script Date: 3/27/2026 12:40:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_TransactionRef] ON [dbo].[Payments]
(
	[TransactionRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Restaurants_Status_Open]    Script Date: 3/27/2026 12:40:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Restaurants_Status_Open] ON [dbo].[Restaurants]
(
	[Status] ASC,
	[IsOpen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TemporaryClosures_Active]    Script Date: 3/27/2026 12:40:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_TemporaryClosures_Active] ON [dbo].[TemporaryClosures]
(
	[RestaurantID] ASC,
	[IsActive] ASC,
	[StartDateTime] ASC,
	[EndDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessHours] ADD  CONSTRAINT [DF_BusinessHours_IsOpen]  DEFAULT ((1)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Complaints] ADD  CONSTRAINT [DF_Complaints_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Complaints] ADD  CONSTRAINT [DF_Complaints_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeliveryFeeHistory] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[DeliveryFees] ADD  CONSTRAINT [DF_DeliveryFees_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DeliveryFees] ADD  CONSTRAINT [DF_DeliveryFees_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_Quantity_Merge]  DEFAULT ((100)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_MinOrderAmount_Merge]  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_UsageLimitPerUser_Merge]  DEFAULT ((1)) FOR [UsageLimitPerUser]
GO
ALTER TABLE [dbo].[EmployeeShifts] ADD  CONSTRAINT [DF_EmployeeShifts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_IssuedDate]  DEFAULT (sysutcdatetime()) FOR [IssuedDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[ItemOptions] ADD  CONSTRAINT [DF_ItemOptions_AdditionalPrice]  DEFAULT ((0)) FOR [AdditionalPrice]
GO
ALTER TABLE [dbo].[ItemOptions] ADD  CONSTRAINT [DF_ItemOptions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuCategories] ADD  CONSTRAINT [DF_MenuCategories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF_MenuItems_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF_MenuItems_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderType]  DEFAULT ('Online') FOR [OrderType]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ('Preparing') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Total]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Final]  DEFAULT ((0)) FOR [FinalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_DeliveryFee_Merge]  DEFAULT ((0)) FOR [DeliveryFee]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentStatus_Merge]  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Status]  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_IsPaid]  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RestaurantDeliveryZones] ADD  CONSTRAINT [DF_RestaurantDeliveryZones_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RestaurantDeliveryZones] ADD  CONSTRAINT [DF_RestaurantDeliveryZones_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Restaurants] ADD  CONSTRAINT [DF_Restaurants_IsOpen]  DEFAULT ((1)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Restaurants] ADD  CONSTRAINT [DF_Restaurants_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Restaurants] ADD  CONSTRAINT [DF_Restaurants_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RestaurantTables] ADD  CONSTRAINT [DF_RestaurantTables_Status]  DEFAULT ('Available') FOR [TableStatus]
GO
ALTER TABLE [dbo].[RestaurantTables] ADD  CONSTRAINT [DF_RestaurantTables_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RestaurantUsers] ADD  CONSTRAINT [DF_RestaurantUsers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RestaurantUsers] ADD  CONSTRAINT [DF_RestaurantUsers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShiftTemplates] ADD  CONSTRAINT [DF_ShiftTemplates_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TableReservations] ADD  CONSTRAINT [DF_TableReservations_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TableReservations] ADD  CONSTRAINT [DF_TableReservations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TemporaryClosures] ADD  CONSTRAINT [DF_TemporaryClosures_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TemporaryClosures] ADD  CONSTRAINT [DF_TemporaryClosures_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BusinessHours]  WITH CHECK ADD  CONSTRAINT [FK_BusinessHours_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[BusinessHours] CHECK CONSTRAINT [FK_BusinessHours_Restaurants]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Customers]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Orders]
GO
ALTER TABLE [dbo].[DeliveryFeeHistory]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryFeeHistory_DeliveryFees] FOREIGN KEY([FeeID])
REFERENCES [dbo].[DeliveryFees] ([FeeID])
GO
ALTER TABLE [dbo].[DeliveryFeeHistory] CHECK CONSTRAINT [FK_DeliveryFeeHistory_DeliveryFees]
GO
ALTER TABLE [dbo].[DeliveryFeeHistory]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryFeeHistory_Users] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DeliveryFeeHistory] CHECK CONSTRAINT [FK_DeliveryFeeHistory_Users]
GO
ALTER TABLE [dbo].[DeliveryFees]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryFees_DeliveryZones] FOREIGN KEY([ZoneID])
REFERENCES [dbo].[RestaurantDeliveryZones] ([ZoneID])
GO
ALTER TABLE [dbo].[DeliveryFees] CHECK CONSTRAINT [FK_DeliveryFees_DeliveryZones]
GO
ALTER TABLE [dbo].[DeliveryInfo]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryInfo_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[DeliveryInfo] CHECK CONSTRAINT [FK_DeliveryInfo_Orders]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_Restaurants]
GO
ALTER TABLE [dbo].[EmployeeShifts]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShifts_MarkedBy] FOREIGN KEY([MarkedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeShifts] CHECK CONSTRAINT [FK_EmployeeShifts_MarkedBy]
GO
ALTER TABLE [dbo].[EmployeeShifts]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShifts_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[EmployeeShifts] CHECK CONSTRAINT [FK_EmployeeShifts_Restaurants]
GO
ALTER TABLE [dbo].[EmployeeShifts]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShifts_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeShifts] CHECK CONSTRAINT [FK_EmployeeShifts_Staff]
GO
ALTER TABLE [dbo].[EmployeeShifts]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShifts_Template] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[ShiftTemplates] ([TemplateID])
GO
ALTER TABLE [dbo].[EmployeeShifts] CHECK CONSTRAINT [FK_EmployeeShifts_Template]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[ItemOptions]  WITH CHECK ADD  CONSTRAINT [FK_ItemOptions_MenuItems] FOREIGN KEY([ItemID])
REFERENCES [dbo].[MenuItems] ([ItemID])
GO
ALTER TABLE [dbo].[ItemOptions] CHECK CONSTRAINT [FK_ItemOptions_MenuItems]
GO
ALTER TABLE [dbo].[MenuCategories]  WITH CHECK ADD  CONSTRAINT [FK_MenuCategories_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[MenuCategories] CHECK CONSTRAINT [FK_MenuCategories_Restaurants]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[MenuCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Categories]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Restaurants]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_MenuItems] FOREIGN KEY([ItemID])
REFERENCES [dbo].[MenuItems] ([ItemID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_MenuItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Discounts] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Discounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Restaurants]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[RestaurantTables] ([TableID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Table]
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD  CONSTRAINT [FK_Payments_Customers_Merge] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Customers_Merge]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[RestaurantDeliveryZones]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantDeliveryZones_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[RestaurantDeliveryZones] CHECK CONSTRAINT [FK_RestaurantDeliveryZones_Restaurants]
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Owner] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Restaurants] CHECK CONSTRAINT [FK_Restaurants_Owner]
GO
ALTER TABLE [dbo].[RestaurantTables]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantTables_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[RestaurantTables] CHECK CONSTRAINT [FK_RestaurantTables_Restaurants]
GO
ALTER TABLE [dbo].[RestaurantUsers]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantUsers_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[RestaurantUsers] CHECK CONSTRAINT [FK_RestaurantUsers_Restaurants]
GO
ALTER TABLE [dbo].[RestaurantUsers]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantUsers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RestaurantUsers] CHECK CONSTRAINT [FK_RestaurantUsers_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Customers]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Restaurants]
GO
ALTER TABLE [dbo].[ShiftTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ShiftTemplates_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[ShiftTemplates] CHECK CONSTRAINT [FK_ShiftTemplates_Restaurants]
GO
ALTER TABLE [dbo].[TableReservations]  WITH CHECK ADD  CONSTRAINT [FK_TableReservations_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TableReservations] CHECK CONSTRAINT [FK_TableReservations_Customers]
GO
ALTER TABLE [dbo].[TableReservations]  WITH CHECK ADD  CONSTRAINT [FK_TableReservations_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[TableReservations] CHECK CONSTRAINT [FK_TableReservations_Restaurants]
GO
ALTER TABLE [dbo].[TableReservations]  WITH CHECK ADD  CONSTRAINT [FK_TableReservations_Tables] FOREIGN KEY([TableID])
REFERENCES [dbo].[RestaurantTables] ([TableID])
GO
ALTER TABLE [dbo].[TableReservations] CHECK CONSTRAINT [FK_TableReservations_Tables]
GO
ALTER TABLE [dbo].[TemporaryClosures]  WITH CHECK ADD  CONSTRAINT [FK_TemporaryClosures_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[TemporaryClosures] CHECK CONSTRAINT [FK_TemporaryClosures_Restaurants]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[BusinessHours]  WITH CHECK ADD CHECK  (([DayOfWeek]='Sunday' OR [DayOfWeek]='Saturday' OR [DayOfWeek]='Friday' OR [DayOfWeek]='Thursday' OR [DayOfWeek]='Wednesday' OR [DayOfWeek]='Tuesday' OR [DayOfWeek]='Monday'))
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Resolved' OR [Status]='InProgress' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[DeliveryFees]  WITH CHECK ADD CHECK  (([FeeType]='FreeAboveAmount' OR [FeeType]='Flat' OR [FeeType]='PercentageOfOrder'))
GO
ALTER TABLE [dbo].[DeliveryFees]  WITH CHECK ADD CHECK  (([FeeValue]>=(0)))
GO
ALTER TABLE [dbo].[DeliveryFees]  WITH CHECK ADD CHECK  (([MaxOrderAmount] IS NULL OR [MaxOrderAmount]>=(0)))
GO
ALTER TABLE [dbo].[DeliveryFees]  WITH CHECK ADD CHECK  (([MinOrderAmount] IS NULL OR [MinOrderAmount]>=(0)))
GO
ALTER TABLE [dbo].[DeliveryInfo]  WITH CHECK ADD CHECK  (([DeliveryStatus] IS NULL OR ([DeliveryStatus]='Cancelled' OR [DeliveryStatus]='Delivered' OR [DeliveryStatus]='OnTheWay' OR [DeliveryStatus]='Assigned')))
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD CHECK  (([DiscountType]='Fixed' OR [DiscountType]='Percentage'))
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD CHECK  (([DiscountValue]>=(0)))
GO
ALTER TABLE [dbo].[EmployeeShifts]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeShifts_AttendanceStatus] CHECK  (([AttendanceStatus]='Excused' OR [AttendanceStatus]='Late' OR [AttendanceStatus]='Absent' OR [AttendanceStatus]='Present'))
GO
ALTER TABLE [dbo].[EmployeeShifts] CHECK CONSTRAINT [CK_EmployeeShifts_AttendanceStatus]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([FinalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([TaxAmount]>=(0)))
GO
ALTER TABLE [dbo].[ItemOptions]  WITH CHECK ADD CHECK  (([AdditionalPrice]>=(0)))
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([FinalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([OrderStatus]='Cancelled' OR [OrderStatus]='Completed' OR [OrderStatus]='Delivering' OR [OrderStatus]='Preparing'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([OrderType]='Pickup' OR [OrderType]='DineIn' OR [OrderType]='Online'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [CK_Orders_PaymentStatus_Merge] CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Refunded' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Success' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_PaymentStatus_Merge]
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD  CONSTRAINT [CK_Payments_Amount_Merge] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Amount_Merge]
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD  CONSTRAINT [CK_Payments_PaymentStatus_Merge] CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Refunded' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Success' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_PaymentStatus_Merge]
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD  CONSTRAINT [CK_Payments_PaymentType_Merge] CHECK  (([PaymentType]='COD' OR [PaymentType]='Cash' OR [PaymentType]='VNPay'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_PaymentType_Merge]
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD CHECK  (([CommissionRate]>=(0) AND [CommissionRate]<=(100)))
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD CHECK  (([DeliveryFee]>=(0)))
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[RestaurantTables]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[RestaurantTables]  WITH CHECK ADD CHECK  (([TableStatus]='Reserved' OR [TableStatus]='Occupied' OR [TableStatus]='Available'))
GO
ALTER TABLE [dbo].[RestaurantUsers]  WITH CHECK ADD CHECK  (([RestaurantRole]='Manager' OR [RestaurantRole]='Staff' OR [RestaurantRole]='Owner'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[ShiftTemplates]  WITH CHECK ADD  CONSTRAINT [CK_ShiftTemplates_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[ShiftTemplates] CHECK CONSTRAINT [CK_ShiftTemplates_Time]
GO
ALTER TABLE [dbo].[TableReservations]  WITH CHECK ADD CHECK  (([NumberOfGuests] IS NULL OR [NumberOfGuests]>(0)))
GO
ALTER TABLE [dbo].[TableReservations]  WITH CHECK ADD CHECK  (([Status]='Completed' OR [Status]='Cancelled' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[TableReservations]  WITH CHECK ADD  CONSTRAINT [CK_TableReservations_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[TableReservations] CHECK CONSTRAINT [CK_TableReservations_Time]
GO
ALTER TABLE [dbo].[TemporaryClosures]  WITH CHECK ADD  CONSTRAINT [CK_TemporaryClosures_DateTime] CHECK  (([EndDateTime]>[StartDateTime]))
GO
ALTER TABLE [dbo].[TemporaryClosures] CHECK CONSTRAINT [CK_TemporaryClosures_DateTime]
GO
USE [master]
GO
